# Specific to the projects
data/
lightning_logs/
MasterThesis_logs/
wandb/
pmlb_cache/

*.png
*.Rd
*.Rproj
*.cps
*.tsv
*.pkl
*.ckpt
# *.txt

*.json


# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
.tox/
.nox/
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
*.log

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.pot
*.pyc

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
